{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="Section_one dashboard">
  <div class="container">
    <div class="dsh">
      <h2>Categories</h2>

      <div class="dh_box">
        {% for category in object_list %}
        <div class="boxx">
          <a href="{% url 'categories:sub_categories_list' category.id %}">
            <img src="{{ category.image.url }}">
            <h4>{{ category.title }} ({{ category.asset_set.count }})</h4>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
