<div class="ftr_sections">
  <div class="container">
    <div class="ftr">
      <div class="boxx">
        <h3>About Us</h3>
        <p>Etiam rhoncus sit amet adip scing sed ipsum. Lorem ipsum dolor sit amet adipiscing sem neque.</p>
      </div>

      <div class="boxx">
        <h3>Quick Links</h3>

        <ul>
          <li><a href="javascript:void(0)">Homepage</a></li>
          <li><a href="javascript:void(0)">Blog</a></li>
          <li><a href="javascript:void(0)">About us</a></li>
          <li><a href="javascript:void(0)">Contact</a></li>
          <li><a href="javascript:void(0)">Events</a></li>
          <li><a href="javascript:void(0)">Terms & conditions</a></li>
        </ul>
      </div>

      <div class="boxx">
        <h3>Contact</h3>
        <p>Linden Square,146 Kings Road Bury St Edmunds IP33 3DJ, UK</p>
      </div>

      <div class="boxx" id="boxx">
        <a href="javascript:void(0)" class="tw"></a>
        <a href="javascript:void(0)" class="fc"></a>
        <a href="javascript:void(0)" class="ln"></a>
        <a href="javascript:void(0)" class="in"></a>
      </div>
    </div>
  </div>
</div>
